<br>
<br>
<div class="container">
  <h1>Money Management System</h1>
  <h2>You can manage all your details here</h2>
  <br>
  <br>
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Debit</h5>
      <p class="card-text">You can look into your debit details here</p>
      <a href="#" class="btn btn-primary" routerLink="/display/debit">DEBIT</a>
    </div>
  </div>
  <br>
  <br>
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Credit</h5>
      <p class="card-text">You can look into your credit details here</p>
      <a href="#" class="btn btn-primary" routerLink="/display/credit">CREDIT</a>
    </div>
  </div>
</div>
